
<!-- Book View: Rendering Context = Book Controller Singleton -->
<!-- Note that the context {isbn: value} is passed in as "content" -->
<!-- Also note that we have a Book model object named "representedBook" to represent. -->

<div id="book">
	<h1>Your Book: {{representedBook.title}} </h1>
	<hr />
	<h1>The ISBN you entered has returned the following results:</h1>
	
	{{#if representedBook}}
		<!-- display book data if available -->
	  	<p>Title: {{representedBook.title}}</p>
		<p>ISBN: {{representedBook.isbn13}}</p>
		<p>Author(s): 
		{{#each representedBook.authors}}
			({{this}})
		{{/each}}
		</p>
		<p>Publisher: {{representedBook.publisher}}</p>
		{{#if representedBook.imageLinkSmall}}
			<img src="{{unbound representedBook.imageLinkSmall}}" />
		{{else}}
			<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png" />
		{{/if}}

	<a {{action loadList}}>
    	<p><h1>Click here to view books for sale!</h1></p> 
    	<p>(should only appear if validated and book is found)</p>
  	</a>

	{{else}}
		<!-- else, well, that sucks. -->
	  	<p>No book found. You can blame Google. TODO: take the blame out</p>
	{{/if}}
	<hr />
	<p>Data courtesy of the allmighty Google. TODO: adhere to Google Books API <a href="https://developers.google.com/books/branding">Branding guidelines</a>. </p>
	
</div>

{{outlet}} <!-- Views that have book information listed go here, e.g. listings -->