




<!-- Emperor View: Rendering Context = Emperor Controller Singleton -->
<div id="input-area" {{bindAttr class="inputAreaType"}} > <!-- that container which contains the prompt and text box -->
	<h1>This is the Emperor view</h1>
	<p>This is a placeholder for the start page - the first page a user will see if he/she has yet to post/buy any books;</p>
	<p>Asks for an ISBN and then transitions to the book-id page.</p>
	<p>TODO: Validation, Design</p>

	<!-- Target: Emperor Controller -->
	<div id="input-field-block">
	<label id="input-field-label"> Enter your ISBN here:
		{{view Ember.TextField id="input-field" placeholder="ISBN13" valueBinding="isbnInput" }} 
	</label>
	</div>
	<br/>
	<h4>Data:</h4>Entered ISBN: {{isbnInput}}


{{outlet inputArea}} <!-- A view within a view; everything else goes here. This outlet is contained inside the search bar area, and will be displayed accordingly -->

</div>

{{outlet mainArea}} <!-- A view within a view; everything else goes here. This outlet lives outside the search bar area. -->